@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: DRK;
  src: url(/FONTS/DRK.ttf);
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  font-family: DRK;

  -webkit-tap-highlight-color: transparent;

  &::selection {
    background-color: green;
    color: #000;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow: hidden;

  width: 100dvw;

  background-color: #000;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.ant-message-notice-content {
  background-color: #66ff00 !important;
}
